{template "header.html"}
<!--banner-->
<section class="caigou-banner-wrap">
   
   <div class="caigou-banner m-auto">
       <div class="title">采购流程指导</div>
       <div class="title-en">
           <span>Guide</span>
        </div>
       
       <p class="p1">关于密封件订货注意事项</p>
       <p class="p2">1、 请在订货单上注明型号和尺寸。</p>
       <p class="p3">2、 尺寸表中如果没有你要的密封件，或者由于工作条件特殊，选择密封件有困难时，请与我司联系。</p>
   </div>

</section>
<!--banner end -->
<!--caigou-->
<section class="caigou-zhinan-wrap">
    <div class="caigou-xuanxing">
        <div class="title">选型指导</div>
        <div class="title-en">model selection</div>
    </div>
    <!--tab-->
    <div class="caigou-top-tab-wrap">
        <div class="caigou-top-tab m9 m-auto">
            <div class="caigou-top-tab-nav on fl">
                <table class="tb">
                    <tr>
                        <td>
                            JIS 标准缸 <br/>
                            （JIS B 8354）
                        </td>
                    </tr>
                </table>
                <div class="tab-sanjiao"></div>
            </div>
            <div class="caigou-top-tab-nav fr">
                <table class="tb">
                    <tr>
                        <td>
                            密封应用范围
                        </td>
                    </tr>
                </table>
                <div class="tab-sanjiao"></div>
            </div>
            <div class="sline"></div>
            <div class="clear"></div>
        </div>
    </div>
    <!--tab end-->
</section>
<!--title-nav-->
<section class="caigou-title-nav-wrap">
    <div class="caigou-title-nav">
        <a href="javascript:void(0);" class="title-nav-a">低压液压缸：7MPa或更低</a>
        <a href="javascript:void(0);" class="title-nav-a">中压液压缸：14MPa或更低</a>
        <a href="javascript:void(0);" class="title-nav-a">中压液压缸：21MPa或更低</a>
    </div>
</section>
<!--title-nav end-->
<!--show main-->
<section class="caigou-show-body-wrap">
    <div class="caigou-show-body m9 m-auto">
        <p style="text-align: center">
            <img src="{HOME_THEME_PATH}build/images/caigou-count-1.png" alt="">
        </p>
    </div>
</section>
<!--show main end-->
{template "footer.html"}