{template "header.html"}

<!--product dingzhi-->
<section class="product-wrap">
  <div class="product-box w m-auto">
        <!--aside-->
        {template "sider.html"}
        <!--aside end-->
        <section class="product-content fr">
            {template "name.html"}
            <!--nok show box-->
            <div class="nok-show-wrap">
                <!--thumb-->
                <div class="img-show">
                    <img src="{HOME_THEME_PATH}build/images/nok-show-img.png" alt="">
                </div>
                <!--thumb end -->
                <!--parameter-->
                <div class="nok-parameter-wrap">
                    <div class="nok-parameter">
                        <div class="title">FU0214FO</div>
                        <div class="content-box">
                            <table class="tb">
                                <tr>
                                    <td class="td1">
                                        分类
                                    </td>
                                    <td class="td2">
                                        液压密封件／活塞杆密封专用密封件／IDI型
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        型号
                                    </td>
                                    <td class="td2">
                                        IDI型
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        封装
                                    </td>
                                    <td class="td2">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        批号
                                    </td>
                                    <td class="td2">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        库存量
                                    </td>
                                    <td class="td2">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        价格
                                    </td>
                                    <td class="td2">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        批号
                                    </td>
                                    <td class="td2">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        交货期
                                    </td>
                                    <td class="td2">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        更新日期
                                    </td>
                                    <td class="td2">
                                        2004-10-27
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        公称尺寸D
                                    </td>
                                    <td class="td2">
                                        30
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                       公称尺寸d
                                    </td>
                                    <td class="td2">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        公称尺寸h
                                    </td>
                                    <td class="td2">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        腔体尺寸D
                                    </td>
                                    <td class="td2">
                                        20
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        腔体尺寸d
                                    </td>
                                    <td class="td2">
                                        6
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        腔体尺寸D1
                                    </td>
                                    <td class="td2">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        腔体尺寸HA
                                    </td>
                                    <td class="td2">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        腔体尺寸C
                                    </td>
                                    <td class="td2">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        NOK零件号
                                    </td>
                                    <td class="td2">
                                        FU0214FO
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td1">
                                        产品说明
                                    </td>
                                    <td class="td2">
                                        产品说明
                                    </td>
                                </tr>
                               
                            </table>
                        </div>
                    </div>
                </div>
                <!--parameter end-->
            </div>
            <!--nok show box end-->
        </section>
        <div class="clear"></div>
  </div>  
</section>
<!--product dingzhi end -->

{template "footer.html"}