
            <!--left-->
            <div class="news-main-l">
                <div class="news-list-wrap">
                    <ul>
                        {list action=module catid=$catid order=displayorder,updatetime page=1}
                        <li>
                            <div class="title">
                                <a href="{$t.url}">
                                    <span>{$t.title}</span>
                                </a>
                            </div>

                        </li>
                        {/list}

                    </ul>
                </div>
                <div class="paging-box">
                    <ul>
                    {$pages}
                    </ul>
                </div>
            </div>



