{template "header.html"}
<!--banner-->
<section class="content-banner-wrap wb100" style="background-image: url({dr_thumb($thumb)})">
    <!--content-->
    <div class="content-banner m9 m-auto   wow fadeInUp bg-red animated">
        <div class="title">
            <span class="sp1">
                联系方式
            </span><br/>
            <span class="sp2">
                CONTACT
            </span>
        </div>   
        <!--mail-->
        <div class="mail-wrap wow pulse animated" data-wow-duration="1500ms" data-wow-iteration="infinite"">
            <a href="mailto:{om_block(3)}">
                <i class="fa fa-envelope-o fa-fw"></i>
                <p>{om_block(3)}</p>
            </a>
        </div>
        <!--mail end -->
        <!--address-->
        <div class="address-wrap">
            <!--{$content}-->
            <table>
                <tr>
                    <th>{om_block(11)}</th>
                    <th>{om_block(12)}</th>
                </tr>
                <tr>
                    <td>
                        <div class="test">
                            <i class="fa fa-map-marker"></i>
                            <span class="fr">{om_block(5)}</span>
                        </div>
                    </td>
                    <td>
                        <div class="test">
                            <i class="fa fa-map-marker"></i>
                            <span class="fr">{om_block(6)}</span>
                        </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="test">
                            <i class="fa fa-phone"></i>
                            <span class="fr">{om_block(7)}</span>
                        </div>
                    </td>
                    <td>
                        <div class="test">
                            <i class="fa fa-phone"></i>
                            <span class="fr">{om_block(8)}</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="test">
                            <i class="fa fa-fax"></i>
                            <span class="fr">{om_block(9)}</span>
                        </div>
                    </td>
                    <td>
                        <div class="test">
                            <i class="fa fa-fax"></i>
                            <span class="fr">{om_block(10)}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!--address end-->
    </div>
    <!--content end -->
   
</section>
<!--banner end -->
{template "footer.html"}