{template "header.html"}
<!--banner-->
{template "banner.html"}
<!--banner end-->
<!--search-->
<section class="index-search-wrap wb100 wow fadeInUp bg-red animated">
    <div class="index-search m-auto">
        {template "soform.html"}
    </div>
</section>
<!--search end-->
<section class="index-product-wrap wb100">
    {template "navimg.html"}
</section>
<!--about-->
<section class="index-about-wrap wb100 wow fadeInUp bg-red animated">
    <div class="index-about m-auto">
        <div class="index-ab-title">
            <div class="title">公司介绍</div>
            <div class="title-en">Company Introduction</div>
			<div class="about-up"></div>
        </div>
        <div class="index-ab-title2">
            <span class="">盛航企业</span>
        </div>
        <div class="index-ab-content">
            <p>
            盛航企业创立于1996年，由广州盛航、上海盛航、铂锐液压组成。广州盛航和铂锐液压坐落在美丽的广州花都区，属于机场商务区，交通便利。
            因为业务发展需要，满足长三角的客户需求，公司于2002年在上海虹桥商务区成立上海盛航密封件有限公司，以辐射更大的市场份额！
            </p>
            {list action=navigator type=4 pid=0}
            {if $t.id == 33}
                <img src="{dr_thumb($t.thumb)}" alt="{$t.title}">
            </a>
            {/if}
            {/list}
        </div>
        <div class="index-ab-more">
            <a href="{$ci->get_cache('page-1', 'data', 'index', 1, 'url')}" class="hvr-bounce-to-right">了解更多</a>
        </div>
    </div>
</section>
<!--about end -->
<!--contact-->
<section class="index-contact-wrap wb100 wow fadeInUp bg-red animated">
    <div class="index-contact w m-auto">
        <div class="index-ct-box-1">
            <i class="fa fa-map-marker"></i>
            <p>
                {om_block(1)}
            </p>
            <p class="p2">
                {om_block(2)}
            </p>
        </div>
        <div class="index-ct-box-2">
            <i class="fa fa-envelope-o fa-fw"></i>
            <span>
                <a href="mailto:{om_block(3)}">{om_block(3)}</a>
            </span>
           
        </div>
    </div>
</section>
<div id="preloader">
    <div class="inner">
        <span class="loader"></span>
    </div>
</div>
<!--contact end-->
{template "footer.html"}