{template "header.html"}
<!--page-->
<section class="product-wrap wb100">
  <div class="product-box w m-auto">
        <!--aside-->
        <div class="page-abs-bg"></div>
        <aside class="page-aside fl">
            <hggroup class="columns-title">
                盛航企业 <i> ®️</i>  {$parent.name}
                <span class="bot"></span>
            </hggroup>
            <div class="aside-bar-wrap">
                <ul>
                    {loop $related $t}
                    <li {if $id==$t.id} class="on" {/if}>
                        <a href="{$t.url}">{$t.name}</a>
                    </li>
                    {/loop}
                </ul>
            </div>
        </aside>
        <!--aside end-->
        <section class="product-content fr" style="width:890px;">
            <div class="simrit-top">
                 <div class="title">{$name}</div>
            </div>    
            <!--page show box-->
            <div class="simrit-show-wrap">
                <div class="simrit-show-box">
                    {$content}
                </div> 
            </div>
            <!--page show end-->
        </section>
        <div class="clear"></div>
  </div>  
</section>
<!--page end -->
{template "footer.html"}